#background-gradient {
  background-image: radial-gradient(black 10%, #746D69 100%);
}

#react-gray {
  background-color: #1F232A;
}

#react-blue {
  color: #60DAF8;
  border-color: #60DAF8;
}

#react-blue-border {
  color: #60DAF8;
  background-color: #60DAF8;
}

#button-2d {
  border-color: #1F232A;
  border-width: 0 2px 2px 2px;
}

#button-2d:hover {
  border-color: #60DAF8;
  border-width: 3px;
}